<h2>RDF Serializations</h2>
<p class="lead">RDF graphs can be serialized (converted into text) with a number of different 
formats including XML and JSON, along with RDF graph specific formats called Turtle 
N-Triples.</p>

<h3 class="text-xs-center bg-warning">RDF/XML</h3>
<div class="row">
    <div class="col-md-8">
        <pre class="prettyprint">
&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;rdf:RDF
   xmlns:bf="http://id.loc.gov/ontologies/bibframe/"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
&gt;
  &lt;rdf:Description rdf:about="https://en.wikipedia.org/wiki/Religion"&gt;
    &lt;rdfs:label&gt;Religion&lt;/rdfs:label&gt;
    &lt;bf:Topic rdf:resource="http://id.loc.gov/authorities/subjects/sh85112549"/&gt;
  &lt;/rdf:Description&gt;
&lt;/rdf:RDF&gt;
        </pre>
    </div>
    <div class="col-md-4">
        <ul class="lead">
            <li>First serialization format</li>
            <li>Can be used with existing XML tools</li>
        </ul>
    </div>
</div>
<h3 class="text-xs-center bg-warning">Turtle (Terse RDF Triple Language)</h3>
<div class="row">
    <div class="col-md-4">
        <ul class="lead">
            <li>Simplified syntax makes it easier to manually edit</li>
            <li>Can only serialize valid RDF Graphs</li>
            <li>Similar in structure to SPARQL</li>
        </ul>
    </div>
    <div class="col-md-7">
                <pre class="prettyprint">
@prefix bf: &lt;http://id.loc.gov/ontologies/bibframe/&gt; .
@prefix rdf: &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#&gt; .
@prefix rdfs: &lt;http://www.w3.org/2000/01/rdf-schema#&gt; .
@prefix xml: &lt;http://www.w3.org/XML/1998/namespace&gt; .
@prefix xsd: &lt;http://www.w3.org/2001/XMLSchema#&gt; .

&lt;https://en.wikipedia.org/wiki/Religion&gt; rdfs:label "Religion" ;
    bf:Topic &lt;http://id.loc.gov/authorities/subjects/sh85112549&gt; .
        </pre>
    </div>

</div>
<h3 class="text-xs-center bg-warning">JSON-LD</h3>
<div class="row">
    <div class="col-md-7">
        <pre class="prettyprint">
[
  {
    "@id": "https://en.wikipedia.org/wiki/Religion",
    "http://id.loc.gov/ontologies/bibframe/Topic": [
      {
        "@id": "http://id.loc.gov/authorities/subjects/sh85112549"
      }
    ],
    "http://www.w3.org/2000/01/rdf-schema#label": [
      {
        "@value": "Religion"
      }
    ]
  }
]
        </pre>
    </div>
    <div class="col-md-4">
        <ul class="lead">
           <li>Great for interoperability with web technologies</li>
        <ul>
    </div>
</div>
<h3 class="text-xs-center bg-warning">N-Triples</h3>
<div class="row">
    <div class="col-md-4">
        <ul class="lead">
            <li>Rich syntax</li>
            <li>Subset can be used as Turtle format</li>
        <ul>
    </div>
    <div class="col-md-7">

        <pre class="prettyprint lang-html">
&lt;https://en.wikipedia.org/wiki/Religion&gt; &lt;http://id.loc.gov/ontologies/bibframe/Topic&gt; &lt;http://id.loc.gov/authorities/subjects/sh85112549&gt; .
&lt;https://en.wikipedia.org/wiki/Religion&gt; &lt;http://www.w3.org/2000/01/rdf-schema#label&gt; "Religion" .
        </pre>
    </div>
</div>
<h3>Creating a RDF Graph</h3>
<div class="row">
<section class="col-md-9">
<p class="lead">
    To illustrate how to create a RDF graph, we will use the 
    <a href="http://python.org">Python</a> programming language using 
    the popular and powerful <a href="https://github.com/RDFLib/rdflib">RDFLib</a>.
</p>
    <pre class="prettyprint py">
>>> import rdflib    
>>> religion = rdflib.Graph()
>>> wikipedia_religion_uri = rdflib.URIRef("https://en.wikipedia.org/wiki/Religion")
>>> religion.add(
	(wikipedia_religion_uri,
	 rdflib.RDFS.label,
	 rdflib.Literal("Religion", lang="en")))
>>> BF = rdflib.Namespace("http://id.loc.gov/ontologies/bibframe/")    
>>> religion.add(
	(wikipedia_religion_uri,
	 BF.Topic,
	 rdflib.URIRef("http://id.loc.gov/authorities/subjects/sh85112549")))
>>> print(religion.serialize(format='turtle').decode())
@prefix bf: &lt;http://id.loc.gov/ontologies/bibframe/> .
@prefix rdf: &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix rdfs: &lt;http://www.w3.org/2000/01/rdf-schema#> .
@prefix xml: &lt;http://www.w3.org/XML/1998/namespace> .
@prefix xsd: &lt;http://www.w3.org/2001/XMLSchema#> .

&lt;https://en.wikipedia.org/wiki/Religion> rdfs:label "Religion"@en ;
    bf:Topic &lt;http://id.loc.gov/authorities/subjects/sh85112549&gt; .

</pre>

    </section>

</div>
