<h2 style="background-color: #990000; text-shadow: 0 2px 0 #510000; color: white" class="text-xs-center">Schema.org</h2>
<p class="lead">Schema.org is an international effort for adding structured and metadata
to web resources. Started in 2011, Schema.org is sponsored by Google, Microsoft, Yandex, Microsoft, 
and others and is available at <a href="http://schema.org/">http://schema.org/</a>. OCLC 
and others sponsored an extension to Schema.org for bibliographic descriptions specific to libraries
that is available at <a href="http://bib.schema.org/">http://bib.schema.org/</a>. OCLC has added
schema.org to <a href="">Worldcat</a> records that are available as a download option when looking 
at record view.
</p>
    Part of the Turtle Graph for <em>Zen and Japanese Buddism</em> available from it's Worldcat record
    at <a href="http://www.worldcat.org/oclc/779008232">http://www.worldcat.org/oclc/779008232</a>.
    <pre class="prettyprint">
&lt;http://www.worldcat.org/oclc/779008232&gt;
        a                           schema:Book , schema:CreativeWork ;
        library:oclcnum             "779008232" ;
        library:placeOfPublication  &lt;http://id.loc.gov/vocabulary/countries/nju&gt; , 
                                    &lt;http://experiment.worldcat.org/entity/work/data/347763#Place/princeton_n_j&gt; ;
        schema:about                &lt;http://id.worldcat.org/fast/1352415&gt; , 
                                    &lt;http://id.loc.gov/authorities/subjects/sh2008124283&gt; , 
                                    &lt;http://id.worldcat.org/fast/1204082&gt; , 
                                    &lt;http://dewey.info/class/294.3927/&gt; , 
                                    &lt;http://id.worldcat.org/fast/1184197&gt; , 
                                    &lt;http://experiment.worldcat.org/entity/work/data/347763#Place/japan&gt; , 
                                    &lt;http://id.loc.gov/authorities/classification/BQ9262&gt; ;
        schema:bookFormat           bgn:PrintBook ;
        schema:creator              &lt;http://viaf.org/viaf/46767643&gt; ;
        schema:datePublished        "1970" ;
        schema:exampleOfWork        &lt;http://worldcat.org/entity/work/id/347763&gt; ;
        schema:inLanguage           "en" ;
        schema:isPartOf             &lt;http://experiment.worldcat.org/entity/work/data/347763#Series/bollingen_series&gt; , 
                                    &lt;http://experiment.worldcat.org/entity/work/data/347763#Series/princeton_bollingen_paperbacks_221&gt; ;
        schema:name                 "Zen and Japanese Buddism"@en ;
        schema:productID            "779008232" ;
        schema:publication          &lt;http://www.worldcat.org/title/-/oclc/779008232#PublicationEvent/princeton_n_j_princeton_university_press_1970_1959&gt; ;
        schema:publisher            &lt;http://experiment.worldcat.org/entity/work/data/347763#Agent/princeton_university_press&gt; ;
        schema:workExample          &lt;http://worldcat.org/isbn/9780691098494&gt; , 
                                    &lt;http://worldcat.org/isbn/9780691017709&gt; ;
        wdrs:describedby            &lt;http://www.worldcat.org/title/-/oclc/779008232&gt; .

    </pre>
</div>
