<h2>BIBFRAME</h2>
<h2 class="text-xs-center bg-success">BIBFRAME 1.0</h2>
<p class="lead">
    The BIBFRAME Initiative was started by the Library of Congress in 2011 with the intent to
    "integrate with and engage in the wider information community and still serve the very
    specific needs of libraries."<sup><a href="https://www.loc.gov/bibframe/faqs/">1</a></sup> 
</p>
<p>
    The first version of BIBFRAME was released in 2014 and is still available at 
    <a href="http://bibframe.org/">bibframe.org</a>. 
</p>
<h2 class="text-xs-center bg-primary">BIBFRAME 2.0</h2>
<div class="row">
    <section class="col-md-6">
    <img src="{{ url_for('static', filename='img/bf2-model.jpg') }}" class="img-thumbnail"><br>
    source: <a href="https://www.loc.gov/bibframe/docs/bibframe2-model.html">https://www.loc.gov/bibframe/docs/bibframe2-model.html</a>
    </section>
    <section class="col-md-5">
    <div class="card">
        <div class="card-block">
        <h4 class="card-title"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Work</h4>
        <p class="card-text">
        A BIBFRAME <strong>Work</strong> "reflects the conceptual essence of the cataloged resource:  authors, languages, 
        and what it is about (subjects)" and is the most abstract and general resource.
        </p>
        </div>
    </div>
    <div class="card">
        <div class="card-block text-xs-right">
        <h4 class="card-title"><i class="fa fa-commenting-o" aria-hidden="true"></i> Instance</h4>
        <p class="card-text">
        A BIBFRAME <strong>Instance</strong> "reflects information such as its publisher, place and date of publication, and format"
        and embodies a <strong>Work</strong> in one or more descriptive and less abstract resources.  
        </p>
        </div>
    </div>
    <div class="card">
        <div class="card-block">
        <h4 class="card-title"><i class="fa fa-file-text" aria-hidden="true"></i> Item</h4>
        <p class="card-text">A BIBFRAME <strong>Item</strong> "reflects information such as 
        its location (physical or virtual), shelf mark, and barcode" of one or more <strong>Instances</strong>
        and represents the physical or actual digital object as a resource.</p>
        </div>
    </div>
    </section>
</div>
{% include 'snippets/work.html' %}
{% include 'snippets/instance.html' %}
{% include 'snippets/item.html' %}
