<a name="dpla-bibcat"></a>
<h2>Building a DP.LA Service Hub with BIBCAT</h2>
<div class="row">
    <section class="col-md-6">
        <h3>Challenge</h3>
        <p class="lead">How do you create a service hub for aggregating different
        metadata vocabularies and formats from Libraries, Museums, and other 
        cultural heritage organizations into an appropriate data feed for harvesting
        by <a href="https://dp.la">Digital Public Library of America (DP.LA)</a>?
        </p>
    </section>
    <section class="col-md-6">
        <h3>Design &amp; First Build Iteration</h3>
    </section>
</div>
