{% extends 'base.html' %}

{% block main %}
<div class="container">
    <h1>BIBFRAME 2.0, BIBCAT, and DP.LA</h1>
    <h3>August 17<sup>th</sup> 2016<br>Jeremy Nelson</h3>
    <p class="lead">The promise and potential of Library Linked Data
using BIBFRAME</p>
    <div class="row">
        <section class="col-md-8">
            <a name="home"></a>
            <p class="lead">Bibliographic representation and management of
            library collections</P>
            <img src="{{ url_for('static', filename='img/CC-LOGO.png') }}">
            <img src="{{ url_for('static', filename='img/bibframe-logo-small.jpg') }}">
            <img src="{{ url_for('static', filename='img/dpla-logo.png') }}">
                </section>
        <section class="col-md-4">
        <div class="card card-inverse card-primary">
            <h3 class="card-header">Topics</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Quick intro to Linked Data &amp; BIBFRAME 
                    <a href="#quick-intro-lld">
                        <i class="fa fa-play" aria-hidden="true"></i>
                    </a>
                </li>

                <li class="list-group-item">
                    Creating BIBFRAME Applications with RDF Framework &amp; BIBCAT
                    <a href="#create-bf-rdf-apps">
                        <i class="fa fa-play" aria-hidden="true"></i>
                    </a>

                </li>
                <li class="list-group-item">
                    Building a DP.LA Service Hub with BIBCAT
                    <a href="#dpla-bibcat">
                        <i class="fa fa-play" aria-hidden="true"></i>
                    </a>

                </li>
            </ul>
        </div>
        </section>
    </div>
    <hr>
    {% include 'linked-data-intro.html' %}
    {% include 'bibframe.html' %}
    <hr>
    {% include 'create-bf-apps-rdf-framework.html' %}
    <hr>
    {% include 'dpla-service-hub-bibcat.html' %}
</div>
{% endblock main %}
