{% extends 'base.html' %}

{% block main %}
<div class="container">
    <h1>BIBFRAME 2.0, BIBCAT, and DP.LA</h1>
    <h3>August 17<sup>th</sup> 2016<br>Jeremy Nelson</h3>
    <p class="lead">The promise and potential of Library Linked Data
using BIBFRAME</p>
    <div class="row">
        <section class="col-md-8">
            <h2>Quick intro to Linked Data &amp; BIBFRAME</h2>
        </section>
        <section class="col-md-4">
        <div class="card card-inverse card-primary">
            <h3 class="card-header">Topics</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Quick intro to Linked Data &amp; BIBFRAME</li>
                <li class="list-group-item">
                    Creating BIBFRAME Applications with RDF Framework &amp; BIBCAT
                </li>
                <li class="list-group-item">
                    Building a DP.LA Service Hub with BIBCAT
                </li>
            </ul>
        </div>
        </section>
    </div>
    <hr>
    <h2>Creating BIBFRAME Applications with RDF Framework &amp; BIBCAT</h2>
    <hr>
    <h2>Building a DP.LA Service Hub with BIBCAT</h2>

</div>
{% endblock main %}
