{% extends 'base.html' %}

{% block main %}
<div class="container">
    <h1>BIBFRAME 2.0, BIBCAT, and DP.LA</h1>
    <p class="lead">The promise and potential of Library Linked Data
using BIBFRAME</p>
    <div class="row">
        <section style="col-md-4">
            <h2>Library Linked Data &amp; BIBFRAME</h2>
        </section>
        <section style="col-md-4">
            <h2>RDF Framework &amp; BIBCAT</h2>
        </section>
        <section style="col-md-4">
            <h2>DP.LA Service Hub</h2>
        </section>
    </div>
</div>
{% endblock main %}
