<a name="quick-intro-lld"></a>
<h1>Quick intro to Linked Data & BIBFRAME</h1>
<div class="row">
    <div class="col-md-6">
    <p class="lead">
    Libraries and cultural heritage organizations are shifting 
    from MARC21 and XML  metadata standards to Linked-Data vocabularies. 
    <a href="https://www.w3.org/2005/Incubator/lld/XGR-lld-20111025/">Library Linked Data</a> is
    an international effort to bring machine-readable data to the web.  
    Based on RDF (Resource Description Framework) graphs, Library Linked Data is 
    made up a series of statements, called triples, 
    that take the form of <strong>subject - predicate - object</strong>.
    </p>
    <p class="lead">Linked Data is about representing information
    in RDF Triples i.e. subject-predicate-object.
    like <a href="http://bibframe.org">BIBFRAME</a> and 
    <a href="http://schema.org">Schema.org.</a> 
    <a href="http://www.rdaregistry.info/">RDA</a> and 
    <a href="http://www.marc21rdf.info/">MARC</a> can also be reformulated into
    Linked Data triples as well.</p>
        <div class="card">
            <h3 class="card-header bg-primary">IRIs the "Link" in Linked Data</h3>
            <div class="card-block">
                <p class="card-text">
                 The power of linked data is deceptively simple and is based on the
                 idea behind the common URL, the uniform resource locator, used by
                 most people everyday when using the web.  Internationalized Resource Identifier 
                 or IRI extend the concept of URL to use IRI as a global identifier and unlike
                 a URL, an IRI can contain unicode characters from other non-European languages. 
                 An IRI serves as the critical linking structure between local and global
                 information sources. <strong>NOTE</strong> an IRI doesn't have to exist to 
                 be useful, only that is uniquely identifiable like an URL. 
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        {# START Graph card #}
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">What is a Graph?</h4>
                <p class="card-text">
                    A graph data structure is made up <em>nodes</em> 
                    (also known as vertices or points) with 
                    connections between the nodes called <em>edges</em> or 
                    <em>directed edges</em> (also referred to as arcs or lines)
                </p>
                <p class="card-text">
                    Graphs are used to describe transportation systems, computer networks, and social relationships.
                    Graphs easily support heterogeneous environments with different vocabularies that can scale to 
                    billions (if not trillions) of nodes and edges. 
                </p>
            </div>
        {# END Graph card #}
        </div>
    </div>
</div>
<hr>
<h2>RDF Graphs</h2>
<p class="lead">
    Linked Data in libraries is constructed using Resource Description Framework (RDF) graphs, 
    a type of directed graphs, where the nodes are made up
    of either IRI (international resource indicator i.e. URLs or URIs), blank nodes (a 
    type of identifier placeholder in a RDF graph), or literal values. Originating with the 
    World Wide Web Consortium (W3C) specifications, RDF graphs are built using three element 
    statements called <strong>triples</strong> that model relationships between resources, 
    IRIs, and descriptive information.
</p>
<p class="lead">
    In a RDF triple, the first element is called a <strong>subject</strong> and represents 
    a resource with the second element, the <strong>predicate</strong>, describing an aspect
    that connects to the third element, an <strong>object</strong> made up a value. One or more
    triples make up a RDF graph.  
</p>
<div class="jumbotron">
    <h3>The big shift for libraries:</h3>
    <h1>Managing records (MARC) to managing triples (BIBFRAME, Schema.org)
    </h1>
</div>
<br>
<img src="{{ url_for('static', filename='img/triple.svg') }}" class="img-thumbnail center-block">
<br>
<div class="row">
    <div class="col-md-4">
        <div class="card card-success">
            <h3 class="card-header">Subjects</h3>
            <div class="card-block">
                <p class="card-text">Subjects must be either an IRI or a blank node and
                represents the resource or entity</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-danger">
            <h3 class="card-header">Predicates</h3>
            <div class="card-block">
                <p class="card-text">A relationship between the <em>subject</em> and 
                <em>object</em> is a <strong><em>predicate</em></strong>, also 
                called a property. A predicate can only be an IRI.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-info">
            <h3 class="card-header">Objects</h3>
            <div class="card-block">
                <p class="card-text">Object must be either an IRI, blank node, or 
                literal value.</p>
            </div>
        </div>

    </div>

</div>
<a href="#home"><i class="fa fa-home fa-3x" aria-hidden="true"></i></a>
